<div *ngIf="listecours.length>0">
  <h1>Tableau non vide</h1>
</div>
<ol><ng-container *ngFor="let c of listecours">
  <li>{{c}}</li>
</ng-container></ol>
<div>
  <h3>
    <li *ngIf="nombre[0]%2!=0;else sinon">
      {{nombre[0]}}est impair
    </li>
    <ng-template #sinon>
      <li>{{nombre[0]}} est pair</li>
    </ng-template>
  </h3>
</div>
<div [ngSwitch]="couleur">
  <div *ngSwitchCase="'rouge'"><strong>la coulour est rouge </strong></div>
  <div *ngSwitchCase="'bleu'"><strong>la coulour est bleu </strong></div>
  <div *ngSwitchCase="'rose'"><strong>la coulour est rose </strong></div>
  <div *ngSwitchCase="'noir'"><strong>la coulour est noir </strong></div>
  <div *ngSwitchCase="'blan'"><strong>la coulour est blanc </strong></div>
</div>
<table border="1">
  <tr><th>Matricule</th><th>marque</th><th>couleur</th></tr>
  <tr *ngFor = "let v of voiture ">
    <td>{{v.mat}}</td>
    <td>{{v.marque}}</td>
    <td>{{v.couleur}}</td>
  </tr>
</table>